table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}

.search_form {
    position: absolute;
    z-index: 9999;
    right: 0;
    top: 15px;
    overflow: hidden;
    width: 20px;
    height: 0px;
    background: #212121;
    transition: height 0.2s ease-out 0.5s, top 0.2s ease-out 0.5s, padding 0.2s ease-out 0.5s, width 0.3s ease-out 0.2s;
    -webkit-transition: height 0.2s ease-out 0.5s, top 0.2s ease-out 0.5s, padding 0.2s ease-out 0.5s, width 0.3s ease-out 0.2s;
}

.search_form form {
    opacity: 0;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.search_form input[type='text'] {
    width: 380px;
    padding: 10px;
    outline: none;
    font-size: 14px;
    color: #fff;
    border: 1px solid #999;
    background: none;
}

.search_form input[type='text']::-webkit-input-placeholder {
    color: #fff !important;
}

.search_form input[type='submit'] {
    outline: none;
    background: none;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    border: 1px solid #999;
    text-transform: uppercase;
    padding: 10px 28px;
}

.search_form input[type='submit']:hover {
    background: #fff;
    border: 1px solid #fff;
    color: #212121;
}

.search_box {
    visibility: hidden;
}

.search_box:checked~.search_form {
    width: 500px;
    height: 62px;
    padding: 10px;
    top: 44px;
    transition: height 0.2s ease-out, top 0.2s ease-out, padding 0.2s ease-out, 0.3s width ease-out 0.2s;
    -webkit-transition: height 0.2s ease-out, top 0.2s ease-out, padding 0.2s ease-out, 0.3s width ease-out 0.2s;
}

.search_box:checked~.search_form form {
    opacity: 1;
    transition: 0.3s all ease-out 0.5s;
    -webkit-transition: 0.3s all ease-out 0.5s;
}

label.icon-search span {
    color: #BEBEBE;
}